.stars{
    display: inline-block;
}
/*** css classes for reviews ***/
[class*="bupr-col-"] {
    float: left;
    padding: 10px 0;
 }
.bupr-row{
    clear: both;
    border-bottom: 1px solid #ddd;    
    overflow: hidden;
    padding-bottom: 5px;
}
.bupr-col-1 {width: 8.33%;}
.bupr-col-2 {width: 16.66%;}
.bupr-col-3 {width: 25%;}
.bupr-col-4 {width: 33.33%;}
.bupr-col-5 {width: 41.66%;}
.bupr-col-6 {width: 50%;}
.bupr-col-7 {width: 58.33%;}
.bupr-col-8 {width: 66.66%;}
.bupr-col-9 {width: 75%;}
.bupr-col-10 {width: 83.33%;}
.bupr-col-11 {width: 91.66%;}
.bupr-col-12 {width: 100%;}

@media(max-width: 767px){
    [class*="bupr-col-"] {
        width: 100%;
    }
}    

.bupr-review-full-description{
    display: none;
    padding-top: 20px;
}
.bupr-criteria-label span{
    display: inline;
    float: left;
    width: 50%;
    height:40px;
}
.sel{
    color:red;
}
.bupr-accept-button,.bupr-deny-button{
    float :left;
    margin-right: 5px;
}
.bupr-pagination{
    border-bottom: 0;
    clear: both;
}
/* widget css for front-end */
.bupr-members{
    border-bottom: 1px solid hsl(0, 0%, 87%);
    height: 115px;
    width: 100%;
    text-align:center;
}
.members{
    text-transform: capitalize;
    text-align:left;
    padding:0px;
}
.members p{
    margin:5px 0px!important;
}

.bupr-modal-msg{
    margin: 50px 0px;
    text-align: center;
}
/* review tab */
.bupr-members-profiles{
    text-align:center;
}
.bupr-members-profiles .reviewer h4{
    text-transform: capitalize;
    margin:10px 0px!important;
}
.bupr-members-content{
    padding:0px 10px;
}
.bupr-members-content .review-subject h4{
    margin:5px 0px!important;
}
/* end */
/* pagination */
.bupr-posts-pagination{
    margin: 10px 0;
}
.bupr-posts-pagination span{
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px 10px;
}
.bupr-posts-pagination a{
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px 10px;
}
.bupr-single-reivew{
    margin-top:20px;
}
.no-count{
    margin-left:3px;
}

#bupr_success_review p{
    display:none;
}
.bupr-save-reivew-spinner{
    display:none;
}

.bupr-fields{
    display:none;
    color:red;
}
/* bupr success and error msg */
.bupr-success{
    background-color: hsl(103, 44%, 89%);
    border-color: hsl(92, 44%, 85%);
    border-radius: 5px;
    color: hsl(121, 33%, 35%);
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
.bupr-error{
    width:100%;
    padding:10px;
    border-radius:5px;
    background-color:hsl(0, 43%, 91%);
    border-color:hsl(350, 44%, 86%);
    color:hsl(1, 44%, 46%);
    margin-top: 10px;
}

/* square rating */
.br-theme-bars-square .bupr-rating-widget {
  height: 15px;
  white-space: nowrap;
}
.br-theme-bars-square .bupr-rating-widget a {
  display: block;
  width: 28px;
  height: 28px;
  float: left;
  border: 2px solid #bbcefb;
  background-color: white;
  margin: 2px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  color: #bbcefb;
  font-weight: 600;
}
.br-theme-bars-square .bupr-rating-widget a.bupr-square-selected{
  border: 2px solid #4278F5;
  color: #4278F5;
}

.br-theme-bars-square .br-readonly a {
  cursor: default;
}
.br-theme-bars-square .br-readonly a.bupr-square-selected{
  border: 2px solid #729bf8;
  color: #729bf8;
}
@media print {
  .br-theme-bars-square .bupr-rating-widget a {
    border: 2px solid #b3b3b3;
    color: #b3b3b3;
  }
}

/* square half rating box */
.br-theme-bars-square .br-readonly a.bupr-square-half{
  border-top: 2px solid #729bf8;
  color: #729bf8;
  border-left: 2px solid #729bf8;
  color: #729bf8;
}
.br-theme-bars-square .bupr-rating-widget a.bupr-square-half{
  border-top: 2px solid #4278F5;
  color: #4278F5;
  border-left: 2px solid #4278F5;
  color: #4278F5;
}
.item-header-content .activity{
  margin-bottom:10px;
}
.modal-header h2{
  margin:0px!important;
}

